<% if recipe.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(recipe.errors.count, "error") %>
      prohibited this article from being saved:
    </h2>

    <ul>
    <% recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for recipe do |t| %>
<%= t.label :name %>
<%= t.text_field :name %><br><br>
<%= t.label :image, "Image URL" %>
<%= t.text_field :image %><br><br>
<%= t.label "Category" %>
<%= t.collection_select :category, Recipe.category_list, :to_s, :to_s, include_blank: true%> <br><br>
<%= t.fields_for :ingredients do |f| %>
<%= f.label :name, "Ingredient" %>
  <%= f.text_field :name %>
    <%= f.fields_for :recipe_ingredients do |g| %>
  <%= g.label :quantity, "Amount" %>
  <%= g.text_field :quantity %><br>
  <% end %>
  <% end %><br><br>
<%= t.label "Prep Time(in minutes)" %>
<%= t.number_field :prep_time %>
<%= t.label "Cook Time(in minutes)" %>
<%= t.number_field :cook_time %><br><br>
<%= t.text_area :instructions %><br>
<%= t.submit %>
<% end %>
