<h4>Filter Recipes </h4>
<%= form_tag "#", :id => "search", authenticity_token: false do %>
Title:<%= text_field_tag :query, params[:query] %><br><br>
  Categories:<% Recipe.category_list.each do |category| %>
    <%= check_box_tag category %> <%=category%>
  <% end %><br><br>
  <%= select_tag :sort, options_for_select(sort_by)%>
  <%= submit_tag "Search", id: "category_submit"%><br><br>
<% end %>
<wrapper>
<%= render partial: 'recipe_summary', collection: @recipes, as: :recipe %>
</wrapper>
<script id="recipes-template" type="text/x-handlebars-template">
  {{#each this.recipes}}
  <div class= "card"><img src="{{image}}" style="width:100%">
    <div class="container">
      <h4><a href="{{../path}}/{{id}}"> {{name}}</a></h4>
      <div>Prep Time:{{prep_time}} Cook Time:{{cook_time}}</div>
    </div>
  </div>
  {{/each}}
</script>
