<h2><%=@recipe.name %> </h2>
<h3>Created by: <%=link_to @recipe.user.name, user_recipes_path(@recipe.user)%> </h3>
<a href="#" class="js-next" data-id="<%=@recipe.id%>">Next...</a> <br>
<%= render partial: 'recipe_details', locals: {recipe: @recipe} %><br><br>

<% if policy(@recipe).update? %>
<%= link_to "Edit recipe", edit_recipe_path(@recipe) %>
<%= link_to "Delete recipe", "/recipes/#{@recipe.id}", method: "delete" %>
<% end %>
<%= render partial: '/comments/comment_form' %>
<%= render @comments %>
<script type="text/javascript" charset="utf-8">
  $(function() {
    $('form').submit(function(e) {
      e.preventDefault();
      let data = $(this).serialize();
      //debugger;
      let posting = $.post(this.action, data)
      posting.done(function(data) {
        debugger;
      })
    })
  })
</script>
